
.list-small{
    position: relative;
    display: inline-block;
    margin: 20px;
    height: 270px;
    width: 220px;
    padding: 10px;
    background-color: var(--first-color);
    text-align: justify;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 3px 1px var(--fifth-color);
}

.list-big{
    font-size: larger;
    display: inline-block;
    position: relative;
    width:80%;
    min-height:500px;
    background-color: var(--first-color);
    text-align: justify;
    padding: 30px 50px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px var(--fifth-color);
}

#list_name{
    margin-bottom: 0;
}

[class^=list] p{
    margin: 5px;
}

[class^=list] p:first-child,
[class^=list] p:last-child{
    height:10%;
}

[class^=list] p:first-child{
    text-align: center;
}

[class^=list] p:last-child {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1vw;
    text-align: right;
}

[class^=list] p:nth-child(2){
    height:80%;
    text-align: justify;
    word-break: break-word;
    overflow: hidden;
}


