
form{
    position: absolute;
    width: 300px;
    height: 210px;
    background-color: #FFE657;
    padding-top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


form:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid #4E3DFF;
    border-left: 50px solid rgba(1,1,1, 0.0);
    width: 0;
}


input[type="button"],
input[type="submit"]{
    width: 80px;

}

input{
    margin-bottom: 10px;
}

