html{
    font-family: 'Cinzel Decorative', cursive;
    color: var(--dark-font-color);
    background-color: var(--main-bg-color);

    -moz-user-select: none;
    user-select: none;
}

:root {
    --main-bg-color:                #EFEFEC;
    --first-basic-color:            #fff;
    --second-basic-color:           #7DAED4;
    --first-details-color:          #022859;
    --second-details-color:         black;
    --light-font-color:             #F2F2F2;
    --dark-font-color:              #365166;
}

.site-1{
    width:80%;
    margin: 0 5% 0 15%;
}

.site-2{
    width:70%;
    margin: 0 10% 0 20%;
}

.site-3{
    width:60%;
    margin: 0 17% 0 23%;
}

.site-4{
    width:50%;
    margin: 0 30% 0 20%;
}

.site-5{
    width:40%;
    margin: 0 35% 0 25%;
}

.site-6{
    width:30%;
    margin: 0 40% 0 30%;
}

.site-7{
    width:20%;
    margin: 0 45% 0 35%;
}

body{
    margin: 0;
}

[class*="site"]{
    background-color: var(--first-basic-color);
    z-index: 1;
    padding: 30px;
    box-sizing: border-box;
    transition: height 0.8s, width 0.8s, margin 1s, font-size 0.5s;

}

.centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unit{
    width: 100%;
    text-align: center;
}

.unit_header{
    line-height: 30px;
    text-align: center;
    color: var(--dark-font-color);
    font-weight: bold;
    width: 100%;
    height: 30px;
    background-color: var(--second-basic-color);
    box-shadow: 0 -2px 3px var(--first-details-color);
}

@media only screen and (max-width: 1000px) {
    [class^=site-] {
        width:  100%;
        margin: 0;
    }
}
