html{
    font-family: 'Roboto', sans-serif;
    color: var(--dark-font-color);
    background-color: var(--second-color);

    -moz-user-select: none;
    user-select: none;
}

* {
    box-sizing: border-box;
}

:root {
    --first-color:      #FFFFFF;
    --second-color:     #EFEFEC;
    --third-color:      #A3B2C2;
    --fourth-color:     #415474;
    --fifth-color:      #182E58;
    --light-font-color: #F2F2F2;
    --dark-font-color:  #365166;
}

.site-1{
    width:80%;
    margin: 0 5% 0 15%;
}

.site-2{
    width:70%;
    margin: 0 10% 0 20%;
}

.site-3{
    width:60%;
    margin: 0 17% 0 23%;
}

.site-4{
    width:50%;
    margin: 0 30% 0 20%;
}

.site-5{
    width:40%;
    margin: 0 35% 0 25%;
}

.site-6{
    width:30%;
    margin: 0 40% 0 30%;
}

.site-7{
    width:20%;
    margin: 0 45% 0 35%;
}

body{
    margin: 0;
}

[class*="site"]{
    min-height: 100vh;
    padding: 10vh 30px;
    background-color: var(--first-color);
    z-index: 1;
    box-sizing: border-box;
    transition: height 0.8s, width 0.8s, margin 1s, font-size 0.5s;

}

.centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unit{
    width: 100%;
    text-align: center;
}

.unit_header{
    line-height: 30px;
    text-align: center;
    color: var(--dark-font-color);
    font-weight: bold;
    width: 100%;
    height: 30px;
    background-color: var(--fourth-color);
    box-shadow: 0 -2px 3px var(--fifth-color);
}

input{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--dark-font-color);
}

input[type="text"]{
    padding: 5px;

}

input[type="submit"],
input[type="button"],
input[type="reset"]
{
    padding: 10px 15px;
    font-size: 1vw;
    color: var(--light-font-color);
    border: none;
    background-color: var(--fourth-color);
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--fifth-color) inset;
    font-weight: bolder;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover
{
    box-shadow: 0 0 10px 0 var(--third-color) inset;
}

textarea{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1000px) {
    [class^=site-] {
        width:  100%;
        margin: 0;
    }

    input[type="submit"],
    input[type="button"],
    input[type="reset"] {
        font-size: 2vw;
    }
}

h1{
    font-family: 'Molle', cursive;
}