.menu_div{
    position: relative;
    z-index: 15;
    width: 120px;
    height: 60px;
    float: left;
    background-color: var(--second-basic-color);
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.menu_div{
    color: var(--dark-font-color);
}

.menu_div:hover{
    box-shadow: 0 0 2px 1px var(--second-details-color);
}


#logo{
    font-family: 'Molle', cursive;
    width:120px;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 20px;
}

#sidebar{
    z-index: 10;
    margin-left: 10%;
    position: fixed;
    background-color: var(--first-basic-color);
    height: 100vh;
    width: 120px;
    padding: 20px;
    transform: translate(0, -20px);
}

#menu{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: bold;
}

#search_form{
    position: relative;
    z-index: 12;
    cursor: default;
    height: 100%;
    width: 0;
    line-height: 60px;
    text-align: center;
    background-color: var(--second-basic-color);
    box-shadow: 0 0 3px 0 var(--second-details-color), 3px 0 5px -5px var(--second-details-color) inset;
}
#search_form>input{
    padding: 5px;
    font-size: 120%;
    font-family: 'Cinzel', cursive;
    width: 90%;
    text-align: left;
}

#search_div{
    height: 60px;
    width: auto;
    margin: 10px 0;
}
#search_div>*{
    float: left;
}

#click_taker{
    display: block;
    height: 60px;
    width: 120px;
    line-height: 60px;
    text-align: center;
}

#search_div>.menu_div{
    margin: 0;
}

#search_bar{
    display: none;
}

