

input[type="text"],
input[type="password"],
input[type="email"]{
    display: inline-block;
    float: right;
    width: 50%;
    margin: 0;
}

[class*="site"]{
    max-width: 600px;
    min-width: 450px;
}

form{
    height: 580px;
}

label {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 28px;
}