label{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    float: right;
    width: 50%;
}

[class*="site"]{
    max-width: 600px;
    min-width: 400px;
}

form{
    height: 340px;
}

#login_label{
    text-align: center;
}