label{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    float: right;
}

form{
    height: 250px;
}

#login_label{
    text-align: center;
}