{% extends "main.html" %}

{% block head %}
    <title>List add</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lists_add.css"/>
{% endblock %}

{% block body %}
    <div class="site-6 centered">
        <form method="POST" class="centered" action="{{ url_for("list_add") }}">
            <h1>New List</h1>
            <label>
                Name<br>
                <input type="text" autofocus required name="name">
            </label>
            <label>
                Content<br>
                <textarea name="content" required cols="40" rows="5"></textarea>
            </label>
            <label>
                Visibility
                <select name="visibility">
                    <option selected value="none">Public</option>
                    {% for group in groups %}
                        <option value="{{ group["id"] }}">{{ group["name"] }}</option>
                    {% endfor %}
                </select>
            </label>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <label>
                <input type="submit" value="Add">
                <input type="button" id="back_btn" value="Back" onclick="document.location='{{ url_for("lists_menu") }}'"/>
            </label>
        </form>
    </div>

{% endblock %}
