{% extends "main.html" %}

{% block head %}
    <title>Lists menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lists_menu.css"/>
{% endblock %}

{% block body %}
    {% for unit in units %}
        <div class="unit">
            <div class="unit_header">{{ unit["name"] }}</div>
            {% for list in unit["lists"] %}
                <div class="list" onclick="document.location='{{ url_for("list", list_id = list["id"]) }}'">
                    <p>{{ list["name"] }}</p>
                    {{ list["content"] }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
