{% extends "main.html" %}

{% block head %}
    <title>Followed`s lists</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lists_followeds.css"/>
{% endblock %}

{% block body %}
    <div class="site-3">
        <div class="unit">
            <div class="unit_header">Followed`s</div>
            {% for list in lists %}
                <div class="list-small" onclick="document.location='{{ url_for("one_list", list_id = list["id"]) }}'">
                    <p>{{ list["author"] }} - {{ list["name"] }}</p>
                    <p>{{ list["content"] }}</p>
                    <p>{{ list["date"] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
