<!doctype html>
<html lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/list.css"/>
    <link id="phoneMenu" rel="stylesheet" type="text/css" href="../static/css/phoneMenuHidden.css"/>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molle:400i&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'menu.html' %}
    {% block body %}
    {% endblock %}
</body>
</html>
