
{% if session["logged"] %}
    <div id="sidebar">
        <div id="menu">
            <div id="logo">
                L
            </div>
            <div id="search_div">
                <div class="menu_div" id="click_taker">
                        Search
                </div>
                <form method="GET" id="search_form" action="{{ url_for("search")}}">
                    <input type="search" id="search_bar" name="query" placeholder="search"/>
                </form>
            </div>
            <div class="menu_div" id="add_list_div" onclick="document.location='{{ url_for("list_add") }}'">New</div>
            <div class="menu_div" id="lists_menu_div" onclick="document.location='{{ url_for("lists_menu") }}'">All</div>
            <div class="menu_div" id="invites_div" onclick="document.location='#'">Invites</div>
            <div class="menu_div" id="upcoming_div" onclick="document.location='#'">Upcoming</div>
            <div class="menu_div" id="followed_div" onclick="document.location='{{ url_for("followers_lists") }}'">Followed`s</div>
            <div class="menu_div" id="user_div" onclick="document.location='{{ url_for("user_home") }}'">{{ session["user"]["nick"] }}</div>
            <div class="menu_div" id="settings_div" onclick="document.location='#'">Settings</div>
            <div class="menu_div" id="log_out_div" onclick="document.location='{{ url_for("logout") }}'">Log out</div>
        </div>
    </div>
{% endif %}

<script>
    let status = 1;
    document.getElementById('click_taker').onclick = function () {
        if(status){
            document.getElementById('search_form').style.height = '60px';
            document.getElementById('search_form').style.width = '200px';
            document.getElementById('search_div').style.width = "320px";
            document.getElementById('search_bar').style.display = "inline-block";
            document.getElementById('search_bar').focus();
            status = 0;
        }
        else{
            document.getElementById('search_form').style.height = '0';
            document.getElementById('search_form').style.width = '0';
            document.getElementById('search_div').style.width = "120px";
            document.getElementById('search_bar').style.display = "none";
            status = 1;
        }
    };
</script>
