
{% if session["logged"] %}
    <div id="sidebar">
        <div id="menu">
            <div id="logo">
                L
            </div>
            <form class="menu_div" method="GET" action="{{ url_for("search")}}">
                <input type="search" id="search_bar" name="query" placeholder="search"/>
            </form>
            <div class="menu_div" id="add_list_div" onclick="document.location='{{ url_for("list_add") }}'">New</div>
            <div class="menu_div" id="lists_menu_div" onclick="document.location='{{ url_for("lists_menu") }}'">All</div>
            <div class="menu_div" id="invites_div" onclick="document.location='#'">Invites</div>
            <div class="menu_div" id="upcoming_div" onclick="document.location='#'">Upcoming</div>
            <div class="menu_div" id="followed_div" onclick="document.location='{{ url_for("followers_lists") }}'">Followed`s</div>
            <div class="menu_div" id="user_div" onclick="document.location='{{ url_for("user_home") }}'">{{ session["user"]["nick"] }}</div>
            <div class="menu_div" id="log_out_div" onclick="document.location='{{ url_for("logout") }}'">Log out</div>
        </div>
    </div>

    <script>
        let hidden = 1;
        document.getElementById("logo").onclick = function () {
            if(hidden){
                document.getElementById("phoneMenu").setAttribute("href", "../static/css/phoneMenuVisible.css");
                hidden = 0;
            }
            else{
                document.getElementById("phoneMenu").setAttribute("href", "../static/css/phoneMenuHidden.css");
                hidden = 1;
            }
        }
    </script>
{% endif %}
