{% extends "main.html" %}

{% block head %}
    <title>{{ list["author"]["nick"] }} - {{ list["name"] }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/list_id.css"/>
{% endblock %}

{% block body %}
    <div class="centered">
        <div>
            <div class="list-big">
                <h1 id="list_name">{{ list["author"]["nick"] }} - {{ list["name"] }}</h1>
                <p id="list_content">{{ list["content"] }}</p>
                <p id="list_date">{{ list["date"] }}</p>
            </div>
            {% if list["author"]["nick"] == session["user"]["nick"] %}
                <input type="button" id="del_form_shower" value="Delete">
                <form id="del_form" style="border: 1px solid red" method="POST" action="{{ url_for("list_del") }}">
                    <p style="color:red;">List delete</p>
                    <label>List name:<input type="text" name="name"/></label>
                    <input type="hidden" required name="id" value="{{ list["id"] }}" /><br>
                    <input type="submit" id="del_list_btn" value="Delete list" />
                </form>
            {% endif %}
            {% if session["user"]["id"] != user["id"] %}
            <input type="button" id="follow_btn" onclick="change_following()"/>
            {% endif %}
            <input type="button" id="back_btn" value="Back" onclick="document.location='{{ request.headers.get("Referer") }}'"/>
        </div>
    </div>

    {% if session["user"]["id"] != user["id"] %}
    <script>
        document.getElementById('del_form_shower').onclick = function () {
            document.getElementById('del_form_shower').style.display = 'none';
            document.getElementById('del_form').style.display = 'block';
        };

        let followed = {{ list["followed"] }};
        let follow_btn = document.getElementById("follow_btn");
        change_btn_value();

        function change_btn_value(){
            if(followed){
                follow_btn.setAttribute("value", "Unfollow")
            }
            else{
                follow_btn.setAttribute("value", "Follow")
            }
        }

        function change_following(){
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.location.reload();
                }
            };

            if(followed) {
                xhttp.open("GET", "{{ url_for("unfollow", follow_type="group", followed_id=list["id"]) }}", true);
                followed = false;
            }
            else{
                xhttp.open("GET", "{{ url_for("follow", follow_type="group", followed_id=list["id"]) }}", true);
                followed = true;
            }

            xhttp.send();
            change_btn_value();
        }
    </script>
    {% endif %}
{% endblock %}


