{% extends "main.html" %}

{% block head %}
    <title>User {{ user["nick"] }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/user.css"/>
{% endblock %}

{% block body %}
    <div class="site-5">
        <p>Nick: <span>{{ user["nick"] }}</span></p>
        <p>Email:<span>
            {% if user["email"] %}
                {{ user["email"] }}
            {% else %}
                no data
            {% endif %}
        </span></p>
        <p>Last login:<span>
            {% if user["last_login"] %}
                {{ user["last_login"] }}
            {% else %}
                no data
            {% endif %}
        </span></p>
        <hr/>
        {% if session["user"]["id"] != user["id"] %}
        <input type="button" id="follow_btn" onclick="change_following()"/>
        {% endif %}
        <input type="button" id="back_btn" value="Back" onclick="document.location='{{ request.headers.get("Referer") }}'"/>
    </div>

    {% if session["user"]["id"] != user["id"] %}
    <script>
        let followed = {{ user["followed"] }};
        let follow_btn = document.getElementById("follow_btn");
        change_btn_value();

        function change_btn_value(){
            if(followed){
                follow_btn.setAttribute("value", "Unfollow")
            }
            else{
                follow_btn.setAttribute("value", "Follow")
            }
        }

        function change_following(){
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.location.reload();
                }
            };

            if(followed) {
                xhttp.open("GET", "{{ url_for("unfollow", follow_type="account", followed_id=user["id"]) }}", true);
                followed = false;
            }
            else{
                xhttp.open("GET", "{{ url_for("follow", follow_type="account", followed_id=user["id"]) }}", true);
                followed = true;
            }

            xhttp.send();
            change_btn_value();
        }
    </script>
    {% endif %}

{% endblock %}


